<div class="min-h-screen flex items-center justify-center bg-gray-100 px-4">
  <div class="bg-white p-8 rounded-xl shadow-md w-full max-w-md">
    <h2 class="text-2xl font-bold mb-6 text-center text-gray-800">Login</h2>

    <form [formGroup]="LoginForm" (ngSubmit)="login()" class="space-y-4">
      <div>
        <label class="block text-sm font-medium text-gray-600 mb-1">Email</label>
        <input formControlName="email" type="email"
          class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
          placeholder="Enter your email" />
        <div *ngIf="LoginForm.get('email')?.invalid && LoginForm.get('email')?.touched">
          <label class="text-xs text-red-400" *ngIf="LoginForm.get('email')?.hasError('required')">
            Email is required.</label>
          <label class="text-xs text-red-400" *ngIf="LoginForm.get('email')?.hasError('pattern')">
            Enter valid email</label>
        </div>
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-600 mb-1">Password</label>
        <input formControlName="password" type="password"
          class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
          placeholder="Password" />
        <div *ngIf="LoginForm.get('password')?.invalid && LoginForm.get('password')?.touched">
          <label class="text-xs text-red-400" *ngIf="LoginForm.get('password')?.hasError('required')">
            Password is required.</label>
          <label class="text-xs text-red-400" *ngIf="LoginForm.get('password')?.hasError('minlength')">
            Enter valid password</label>
        </div>
      </div>

      <button type="submit" [disabled]="LoginForm.invalid || loading"
        class="w-full bg-blue-600 text-white py-2 rounded-lg disabled:opacity-50 hover:bg-blue-700 transition">
        @if (loading) {
          Loading...
        } @else {
          Login
        }
      </button>
    </form>

    <div class="text-center mt-4 text-sm text-gray-600">
      Don't have an account?
      <a routerLink="/register" class="text-green-600 hover:underline cursor-pointer">Sign up</a>
    </div>
  </div>
</div>